<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Dojo Survey</h1>
    <form action="/survey" method="post">
        {% csrf_token %}
        <p>Your Name: <input type="text" name="name" id=""></p>
        <p>Dojo Location: <select name="location" id="">
                <option value="San Jose">San Jose</option>
                <option value="Okinawa">Okinawa</option>
                <option value="Georgia">Georgia</option>
            </select></p>
        <p>Favorite Language: <select name="language" id="">
                <option value="Python">Python</option>
                <option value="Mern">Mern</option>
                <option value="Django">Django</option>
                <option value="Java">Java Script</option>
                <option value="Deez">Deez</option>
            </select></p>
        <p>Comment (optional):</p>
        <p><textarea id="w3review" name="comment" rows="4" cols="50"></textarea></p>
        <input type="submit" value="Button">
    </form>

</body>

</html>